<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col">
        <ul class="contact-list">
          <li class="p-name">
            <!-- Richmond, BC -->
          </li>
            {%- if site.richmond_address -%}
              {{ site.richmond_address | escape }}
            {%- endif -%}
          

            {%- if site.richmond_email -%}
            <li><a class="u-email" href="mailto:{{ site.richmond_email | encode_email }}">{{ site.richmond_email | html_encode_email }}</a></li>
            {%- endif -%}
            
            {%- if site.richmond_phone -%}
            <a class="u-phone" href="tel:{{ site.richmond_phone }}">{{ site.richmond_phone }}</a>
            {%- endif -%}
        </ul>
      </div>
<!-- 
      <div class="footer-col footer-col">
        <ul class="contact-list">
          <li class="p-name">
            Duncan, BC
          </li>
          {%- if site.duncan_address -%}
          {{ site.duncan_address | escape }}
        {%- endif -%}
      

        {%- if site.duncan_email -%}
        <li><a class="u-email" href="mailto:{{ site.duncan_email | encode_email }}">{{ site.duncan_email | html_encode_email }}</a></li>
        {%- endif -%}
        
        {%- if site.duncan_phone -%}
        {{ site.duncan_phone }}
        {%- endif -%}
        </ul>
      </div> -->


 
      <div class="footer-col footer-col">
        <ul class="contact-list">
          <li class="p-name">
            <!-- Creston, BC -->
          </li>
          {%- if site.creston_address -%}
          {{ site.creston_address | escape }}
        {%- endif -%}
      

        {%- if site.creston_email -%}
        <li><a class="u-email" href="mailto:{{ site.creston_email | encode_email }}">{{ site.creston_email | html_encode_email }}</a></li>
        {%- endif -%}
        
        {%- if site.creston_phone -%}
        <a class="u-phone" href="tel:{{ site.creston_phone }}">{{ site.creston_phone }}</a>
        {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col">
        <a class="site-logo" rel="author" href="{{ '/'' | relative_url }}"> <img src="{{ site.baseurl }}{% link assets/logo.png %}" alt="Assisi Agrology Logo" height="100px"></a>
      </div>


    </div>

  </div>

</footer>
