<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col">
        <ul class="contact-list">
          <li class="p-name">
            Vancouver, BC
          </li>
            {%- if site.vancouver_address -%}
              {{ site.vancouver_address | escape }}
            {%- endif -%}
          

            {%- if site.vancouver_email -%}
            <li><a class="u-email" href="mailto:{{ site.vancouver_email | encode_email }}">{{ site.vancouver_email }}</a></li>
            {%- endif -%}
            
            {%- if site.vancouver_phone -%}
            {{ site.vancouver_phone }}
            {%- endif -%}
        </ul>
      </div>
<!-- 
      <div class="footer-col footer-col">
        <ul class="contact-list">
          <li class="p-name">
            Duncan, BC
          </li>
          {%- if site.duncan_address -%}
          {{ site.duncan_address | escape }}
        {%- endif -%}
      

        {%- if site.duncan_email -%}
        <li><a class="u-email" href="mailto:{{ site.duncan_email | encode_email }}">{{ site.duncan_email }}</a></li>
        {%- endif -%}
        
        {%- if site.duncan_phone -%}
        {{ site.duncan_phone }}
        {%- endif -%}
        </ul>
      </div> -->


 
      <div class="footer-col footer-col">
        <ul class="contact-list">
          <li class="p-name">
            Creston, BC
          </li>
          {%- if site.creston_address -%}
          {{ site.creston_address | escape }}
        {%- endif -%}
      

        {%- if site.creston_email -%}
        <li><a class="u-email" href="mailto:{{ site.creston_email | encode_email }}">{{ site.creston_email }}</a></li>
        {%- endif -%}
        
        {%- if site.creston_phone -%}
        {{ site.creston_phone }}
        {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col">
        <a class="site-logo" rel="author" href="{{ "/" | relative_url }}"> <img src="assets/logo.png" height="100px"></a>
      </div>


    </div>

  </div>

</footer>
