
    <script src="{{ site.url }}{{ site.baseurl }}/maps/regulatory_files/phosphorus_aquifer.geojson"></script>
    <script src="{{ site.url }}{{ site.baseurl }}/maps/regulatory_files/vulnerable_aquifer.geojson"></script>
    <script src="{{ site.url }}{{ site.baseurl }}/maps/regulatory_files/municipalities.geojson"></script>
    <script src="{{ site.url }}{{ site.baseurl }}/maps/regulatory_files/alr.geojson"></script>
    <!-- <script src="{{ site.url }}{{ site.baseurl }}/maps/regulatory_files/fwa_streams_buffer.geojson"></script> -->
    <script src="{{ site.url }}{{ site.baseurl }}/maps/regulatory_files/fwa_streams_buffer5.geojson"></script>